{% extends 'szablon.html' %}

{% block content %}
{% if user.is_authenticated %}
<div id="mySidebar" class="sidebar">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>           
                <a href="">Harmonogram zlecenia</a>
                 <a href="{% url 'edytowanie_zlecenia' object.id %}">Edytuj zlecenie</a>
                 <a href="{% url 'usuwanie_zlecenia' object.id %}">Usuń zlecenie</a>
                 <a href="">Edytuj przypisanie produktów</a>
    </div>
{% endif %}



<div id ="main">
	{% if user.is_authenticated %}
	<button class="openbtn" onclick="openNav()">☰ Pokaż pasek</button>
	{% endif %}
	
<div class="container-fluid">

		<div class="container border  bg-dark text-light">
			<h4>{{ zlecenia.id }}. {{ zlecenia.nazwa }} </h4>
		</div>
		<div class="container border  bg-dark text-light">
			<h5>Opis zlecenia</h5>
			{{ zlecenia.opis }} <br>
			{% if zlecenia.data_rozpoczecia %}
			Data rozpoczęcia: {{ zlecenia.data_rozpoczecia }}<br>
			{% endif %}
			{% if zlecenia.data_zakonczenia %}
			Data zakończenia: {{ zlecenia.data_zakonczenia }}<br>
			{% endif %}
		</div>


</div>
</div>


{% endblock %}