{% extends 'szablon.html' %}

{% block content %}
{% if user.is_authenticated %}
<div id="mySidebar" class="sidebar">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>           
                <a href="">Harmonogram maszyny</a>
                 <a href="{% url 'edytowanie_maszyny' object.id %}">Edytuj maszynę</a>
                 <a href="{% url 'usuwanie_maszyny' object.id %}">Usuń maszynę</a>
                 <a href="">Edytuj przypisanie sensorów</a>
    </div>

{% endif %} 

<div id ="main">
	{% if user.is_authenticated %}
	<button class="openbtn" onclick="openNav()">☰ Pokaż pasek</button>
	{% endif %} 
<div class="container-fluid">

		<div class="container border  bg-dark text-light">
			<h4>{{ maszyna.id }}. {{ maszyna.nazwa }} </h4>
		</div>
		<div class="container border  bg-dark text-light">
			<h5>Opis maszyny</h5>
			{{ maszyna.opis }} <br>
		</div>


</div>


{% endblock %}